/*======================
Common CSS
=========================*/
body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 15px;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  }

  p{
    font-weight: 400;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin: 0 0 15px;
  }
  .container{
  width: 1350px;
  margin: 0 auto; 
  }


  a{
  transition: .7s;
  text-decoration: none;
  }
  

/*======================
Top header CSS
========================*/
.top_header_area{
  background: #75be41;
  padding: 18px 0;
  clear: both;
}
.top_header_area .inner_header{
  overflow: hidden;
}
.top_header_area .social_area{
width: 50%;
float: left;
}
.top_header_area .social_area ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-left: 30px;

}
.top_header_area .social_area ul li{
  display: inline-block;
  margin-right: 5px;
}
.top_header_area .social_area ul li a{ 
  background: #4b9044;
  color: #ffffff ;
  border-radius: 50%;
  width: 35px;
  height: 26px;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.top_header_area .social_area ul li a:hover{
  background: #5aa524;
  color: #fff;
  transition: .5s;
}
.top_header_area .search_area{
  width: 50%;
  float: right;
}
.top_header_area .search_area form{
  float: right; 
  width: 300px;
}

.top_header_area .search_area input[type="text"]{
  background: #fff ;
  border: 0;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
}
.top_header_area .search_area input[type="submit"]{
  background: #accf59;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  border: 0;
  padding: 11px;
  font-weight: 600;
  cursor: pointer;
  margin-left: -5px;

}
.top_header_area .search_area input[type="submit"]:hover{
  background: #396a31;
  color: #fff;
  transition: .5s;
}

/*======================
Logo CSS
========================*/
.logo{
  color: #101f38;
  font-size: 35px;
  font-family: Arial;
  padding-left: 50px;
  float: left; 
}

.co{
  color: #b3ffb1;
}


/*=====================
Main menu Css
========================*/

#main_menu{
  width: 100%;
  clear: both;
}

.inner_menu{
  background: #5daa39;
  position: relative;
  width: 100%;
  min-height: 35px;
  padding: 15px 0;
  z-index: 1;
}
.inner_menu::after{
  background: #639e20;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  content: "";
  z-index: -1;
}

#main_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#main_menu ul li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

#main_menu ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

#main_menu ul a:hover{
  color: #12fd1d;
}

#main_menu ul li:hover a{
  color: #257725;
}
#main_menu ul li:hover ul li a{
  color: #fff ;
}

/*=====================
Dropdown menu Css
========================*/

#main_menu ul ul{
  position: absolute;
  background: #7dda26;
  width: 180px;
  left: -999999px;
  top: 30px;
}

#main_menu ul li:hover ul{
  left: 0;
}
#main_menu ul li:hover ul ul{
  left: -999999px;
}
#main_menu ul ul ul{
  left: -999999px;
  top: 0px;
}
#main_menu ul li ul li:hover ul{
  left: 180px;
}

#main_menu ul ul li{
  margin: 0;
  display: block;
}

#main_menu ul ul li a:hover{
  background: #333333;
  color: #ffffff;
}
#main_menu ul ul li:hover a{
  background: #333333;
  color: #ffffff;
}
#main_menu ul ul li:hover a{
  background: #359100;
  color: #ffffff;
}
#main_menu ul ul li:hover ul li a{
  background: none;
  color: #ffffff;
}
#main_menu ul ul li ul li a:hover{
  background: #359100;
  color: #ffffff;
}

/*====================
 slider area CSS
 =======================*/

#slider_area img{
  width: 100%;
  height: 600px;
}


/*=====================
Feature Area Css
========================*/

#feature_area{
  padding: 70px 20px;
}
#feature_area .row:first-child{
  margin-bottom: 50px;
  text-align: center;

}

#feature_area .child_feature_area{
  width: 31%;
  float: left;
  margin: 0 1%;
  overflow: hidden;
  margin-bottom: 20px;
}
#feature_area .left_feature{
width: 30%;
float: left;
}
#feature_area .left_feature i{
  width: 50%;
  border: 1px solid #ddd;
  display: block;
  padding: 20px;
  text-align: center;
  color: #86db26;
  font-size: 20px;
  
  
}
#feature_area .child_feature_area:hover .left_feature i{
   background: #8acc10;
   color: #fff;
   transition: .5s;
   border: none;
  
  
}
#feature_area .right_feature{
  width: 65%;
  float: right;
}
#feature_area .right_feature h5{
 color: #4d5359;
 font-size: 16px;
 font-weight: 600;
 position: relative;
 padding-bottom: 10px;
}
#feature_area .right_feature h5::after{
  position: absolute;
  width: 50px;
  height: 2px;
  content: "";
  left: 0;
  bottom: 0;
  background: #4d5359;
 }
 #feature_area .right_feature p{
  color: #7a7c82;
  font-size: 13px;
  
 }
 #feature_area .right_feature a{
  color: #36393a;
  font-size: 13px;
  text-decoration: underline;
  font-weight: 600;
 }
 #feature_area .right_feature a:hover{
  color: #43df43;

 }

/*=======================
Service area CSS
============================*/

.service_area{
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
  background: #f5f5f5;
}
.service_area .inner_service{
  overflow: hidden;
}
.service_area .inner_service h2.title{
  color: #333;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
}
.service_area .inner_service p.sub_title{ 
  color: #333 ;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.service_area .main_service{
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.service_area .child_service{
  width: 225px;
  padding: 130px 60px 80px 105px;
  float: left;
  position: relative;
  border-radius: 5px;
}
.service_area .child_service:hover{
  background: #cbff8f;
  transition: 0.9s;
  cursor: pointer;
  box-shadow: 10px 10px 10px 10px #ddd;
}
.service_area .child_service h3{
  color: #523827;
  font-size: 100px;
  font-weight: 700 ;
  font-family: 'Oswald',sans-serif;
  opacity: 0.1;
  position: absolute;
  left: 60px;
  top: 60px;

}
.service_area .child_service h4{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 22px;
}
.service_area .child_service h4 a{
  color: #523827;
  
}
.service_area .child_service h4:hover a{}
.service_area .child_service p{
  color: #000;
  font-size: 15px;
  opacity: 50%;

}


/*=============================
Contact rea CSS
===============================*/
.contact_area{
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
  background: url(img/img_05.jpg);
  background-size: cover;
  background: #101f38;
}
.contact_area .inner_contact{
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}
.contact_area .inner_contact h2.title{
  color: #fff;
  text-align: center;
  font-weight: 400 ;
  font-family: 'Oswald',sans-serif;
  font-size: 36px;

}
.contact_area .main_contact_form{
width: 100%;
overflow: hidden;
margin-top: 20px;
text-align: center;

}
.contact_area .main_contact_form input{
  background: #fff;
  border: 0;
  padding: 15px 3%;
  float: left;
  margin: 0 1% 2%;
  border-radius: 5px;
  width: 42%;
 
}
.contact_area .main_contact_form textarea{
  background: #fff;
  border: 0;
  padding: 15px 3%;
  border-radius: 5px;
  width: 92%;
  margin: 0 1% 2%;
  min-height: 100px;
}
.contact_area .main_contact_form input[type="submit"]{
  
  background: #6dc916;
  color: #fff;
  font-size: 21px;
  font-weight: normal;
  border-radius: 25px;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
  float: none;
  transition: 0.4s;

}
.contact_area .main_contact_form input[type="submit"]:hover{
transition: .5s;
background: #47aa0e;
}

/*=======================
Footer area CSS
===========================*/
.footer_area{
  width: 100%;
  background: #fff;
  padding: 20px 0;
  overflow: hidden;

}
.footer_area .inner_footer{overflow: hidden;}
.footer_area .footer_logo{
  text-align: center;
  width: 420px;
  max-width: 80%;
  margin: 0 auto 20px;
  
}
.footer_area .copyright_area{
  width: 100%;
  overflow: hidden;
  text-align: center;
 
}
.footer_area .copyright_area p{
color: #6a3144;
font-size: 14px;
margin-bottom: 0;
}

.footer_area .copyright_area span{
  color: #181717;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  margin-bottom: 0;
  }

.logo1{
  color: #101f38;
  font-size: 53px;
  font-weight: bold;
  font-family: Arial;
  padding-left: 50px;
  float: center; 
}

