/*======================
Common CSS
=========================*/
body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 15px;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  }

  p{
    font-weight: 400;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin: 0 0 15px;
  }
  .container{
  width: 1350px;
  margin: 0 auto; 
  }


  a{
  transition: .7s;
  text-decoration: none;
  }
  

/*======================
Top header CSS
========================*/
.top_header_area{
  background: #75be41;
  padding: 18px 0;
  clear: both;
}
.top_header_area .inner_header{
  overflow: hidden;
}
.top_header_area .social_area{
width: 50%;
float: left;
}
.top_header_area .social_area ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-left: 30px;

}
.top_header_area .social_area ul li{
  display: inline-block;
  margin-right: 5px;
}
.top_header_area .social_area ul li a{ 
  background: #4b9044;
  color: #ffffff ;
  border-radius: 50%;
  width: 35px;
  height: 26px;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.top_header_area .social_area ul li a:hover{
  background: #5aa524;
  color: #fff;
  transition: .5s;
}
.top_header_area .search_area{
  width: 50%;
  float: right;
}
.top_header_area .search_area form{
  float: right; 
  width: 300px;
}

.top_header_area .search_area input[type="text"]{
  background: #fff ;
  border: 0;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
}
.top_header_area .search_area input[type="submit"]{
  background: #accf59;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  border: 0;
  padding: 11px;
  font-weight: 600;
  cursor: pointer;
  margin-left: -5px;

}
.top_header_area .search_area input[type="submit"]:hover{
  background: #396a31;
  color: #fff;
  transition: .5s;
}

/*======================
Logo CSS
========================*/
.logo{
  color: #7d4c55;
  font-size: 35px;
  font-family: Arial;
  padding-left: 50px;
  float: left; 
}

.co{
  color: #b3ffb1;
}


/*=====================
Main menu Css
========================*/

#main_menu{
  width: 100%;
  clear: both;
}

.inner_menu{
  background: #5daa39;
  position: relative;
  width: 100%;
  min-height: 35px;
  padding: 15px 0;
  z-index: 1;
}
.inner_menu::after{
  background: #639e20;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  content: "";
  z-index: -1;
}

#main_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#main_menu ul li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

#main_menu ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

#main_menu ul a:hover{
  color: #12fd1d;
}

#main_menu ul li:hover a{
  color: #257725;
}
#main_menu ul li:hover ul li a{
  color: #fff ;
}

/*=====================
Dropdown menu Css
========================*/

#main_menu ul ul{
  position: absolute;
  background: #7dda26;
  width: 180px;
  left: -999999px;
  top: 30px;
}

#main_menu ul li:hover ul{
  left: 0;
}
#main_menu ul li:hover ul ul{
  left: -999999px;
}
#main_menu ul ul ul{
  left: -999999px;
  top: 0px;
}
#main_menu ul li ul li:hover ul{
  left: 180px;
}

#main_menu ul ul li{
  margin: 0;
  display: block;
}

#main_menu ul ul li a:hover{
  background: #333333;
  color: #ffffff;
}
#main_menu ul ul li:hover a{
  background: #333333;
  color: #ffffff;
}
#main_menu ul ul li:hover a{
  background: #359100;
  color: #ffffff;
}
#main_menu ul ul li:hover ul li a{
  background: none;
  color: #ffffff;
}
#main_menu ul ul li ul li a:hover{
  background: #359100;
  color: #ffffff;
}

/*====================
 slider area CSS
 =======================*/

#slider_area img{
  width: 100%;
  height: 600px;
}


/*=====================
Feature Area Css
========================*/

#feature_area{
  padding: 70px 20px;
}
#feature_area .row:first-child{
  margin-bottom: 50px;
  text-align: center;

}

#feature_area .child_feature_area{
  width: 31%;
  float: left;
  margin: 0 1%;
  overflow: hidden;
  margin-bottom: 20px;
}
#feature_area .left_feature{
width: 30%;
float: left;
}
#feature_area .left_feature i{
  width: 50%;
  border: 1px solid #ddd;
  display: block;
  padding: 20px;
  text-align: center;
  color: #86db26;
  font-size: 20px;
  
  
}
#feature_area .child_feature_area:hover .left_feature i{
   background: #8acc10;
   color: #fff;
   transition: .5s;
   border: none;
  
  
}
#feature_area .right_feature{
  width: 65%;
  float: right;
}
#feature_area .right_feature h5{
 color: #4d5359;
 font-size: 16px;
 font-weight: 600;
 position: relative;
 padding-bottom: 10px;
}
#feature_area .right_feature h5::after{
  position: absolute;
  width: 50px;
  height: 2px;
  content: "";
  left: 0;
  bottom: 0;
  background: #4d5359;
 }
 #feature_area .right_feature p{
  color: #7a7c82;
  font-size: 13px;
  
 }
 #feature_area .right_feature a{
  color: #36393a;
  font-size: 13px;
  text-decoration: underline;
  font-weight: 600;
 }
 #feature_area .right_feature a:hover{
  color: #43df43;

 }


